<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>CLIQUE</title>
</head>

<body>
    <nav>
        <div class="logo">
            <h4>CLIQUE</h4>
        </div>
        <ul>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Groups</a></li>
            <li><a href="#">Calendar</a></li>
            <li><a href="#">Routing</a></li>
        </ul>
    </nav>
</body>

</html>
