@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,900;1,700;0,300;0,400;0,600;1,300;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap'); */

.cal_text {
    font-size: 70px;
    margin-top: -1vh;
    font-family: 'Quicksand';
    font-weight: bold;
    color: #6495ed;
}

.cal_regtext {
  font-size: 20px;
  /* display: flex;
  flex-direction: row; */
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  color: #6495ed;
  /* overflow: scroll; */
}

.sched_but Button{
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
  letter-spacing: 0.25px;
}

.carousel-inner > img, .carousel-inner > img {
  width:640px;
  height:360px;
}

.cal_row {
  display: flex;
  /* flex-direction: row; */
  /* word-wrap: break-word; */
  align-items: center;
  height: 20vh;
  /* overflow: scroll; */
  /* padding: 1rem; */
}

.cal_bottomtext {
  font-size: 24px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-family: 'Nunito Sans';
  font-weight: bold;
  color: #6495ed;
}

.google_calendar {
  height: 60vh;
  width: 60vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  padding: 1rem;
}

.google_background {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/HD_transparent_picture.png/1200px-HD_transparent_picture.png");
    width: 100%;
    overflow-y: auto; 
}

.calendar {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 234, 245, 0.911);
    padding: 3rem;
    margin-top: 0vh;
    /* overflow: auto; */
  }

.cal_titleCard {
  height: 10vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  margin-top: 40vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cal_headerCard {
  height: 10vh;
  width: 20vw;
}

.cal_widgetCard {
  height: 82vh;
  width: 60vw;
  margin-top: 0vh;
  margin-bottom: 2vh;
  padding: 1rem;
}

.cal_form {
  padding: 10px;
}

.cal_funCard {
  height: 20vh;
  width: 60vw;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  overflow: scroll;
}

.cal_meetingCard {
  height: 52vh;
  width: 30vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  /* display: flex;
  flex-direction: column; */
  padding: 1rem;
}

.cal_scheduleCard {
  height: 50vh;
  width: 30vw;
  padding: 1rem;
  margin-bottom: 2vh; 
  max-height: 50vh;
  overflow-y: auto;
}

.scroll {
  max-height: 52vh;
  overflow-y: auto;
}

.cal_listLegend {
  max-height: 14vh;
  overflow-y: auto;
  /* display: flex;
  flex-direction: column; */
}

.past {
  font-style: italic;
  color: "#808080";
  color: "#808080";
  background-color: "#808080";
  background: "#808080";
}

.upcoming {
  font-weight: bold;
}

@media screen and (min-height:840px) and (min-width: 1200px) {
  .calendar {
      height: 112vh;
  }
}