@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,900;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.cal_text {
    font-size: 70px;
    margin-top: -1vh;
    font-family: 'Quicksand';
    font-weight: bold;
    color: #6495ed;
}

.cal_regtext {
  font-size: 20px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-family: 'Nunito Sans';
  font-weight: bold;
  color: #6495ed;
}

.carousel-inner > img, .carousel-inner > img {
  width:640px;
  height:360px;
}

.cal_row {
  display: flex;
  align-items: center;
  height: 20vh;
  padding: 1rem;
}

.cal_bottomtext {
  font-size: 30px;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-family: 'Nunito Sans';
  font-weight: bold;
  color: #6495ed;
}

.google_calendar {
  height: 60vh;
  width: 60vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  padding: 1rem;
}

.google_background {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/89/HD_transparent_picture.png/1200px-HD_transparent_picture.png");
}

.calendar {
    height: 112vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 234, 245, 0.911);
    padding: 3rem;
    margin-top: 0vh
  }

.cal_titleCard {
  height: 10vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spinner {
  margin-top: 40vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cal_headerCard {
  height: 10vh;
  width: 20vw;
}

.cal_widgetCard {
  height: 82vh;
  width: 60vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  padding: 1rem;
}

.cal_form {
  padding: 10px;
}

.cal_funCard {
  height: 20vh;
  width: 60vw;
  padding: 1rem;
}

.cal_meetingCard {
  height: 52vh;
  width: 30vw;
  margin-top: 1vh;
  margin-bottom: 2vh;
  padding: 1rem;
}

.cal_scheduleCard {
  height: 50vh;
  width: 30vw;
  padding: 1rem;
}

.scroll {
  max-height: 52vh;
  overflow-y: auto;
}

.past {
  font-style: italic;
  font-color: "#808080";
  color: "#808080";
  background-color: "#808080";
  background: "#808080";
}

.upcoming {
  font-weight: bold;
}
