@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,900;1,700;1,900&display=swap');

.friends {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 248, 224, 0.892);
    padding: 2rem;
    /* overflow: visible; */
  }

  /* "Add Friend" button */
.button {
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    width: 100px;
    color: white;
    font-family: 'Nunito Sans';
    font-style: italic;
    background-color: #6495ed;
}

  /* "Remove Friend" button */
  .button-remove {
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    width: 200px;
    color: white;
    font-family: 'Nunito Sans';
    font-style: italic;
    background-color: #6495ed;
}

.text {
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    color: black;
    font-style: italic;
    font-family: 'Nunito Sans';
}

.refreshButton button{
    border-radius: 8px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: 'Nunito Sans';
    font-style: italic;
    background-color: #6495ed;
}

/* ADD FRIEND MODAL */
.addfriend {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.addfriend-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    height: 20%;
    width: 50%;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
}

/* Search bar */
.addfriend input[type=text] {
    position: inherit;
    margin-top: 30px;
    margin-left: 10px;
    width: 50%;
    height: 30%;
    font-size: 17px;
    border-radius: 8px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
}

/* "send friend request" button */
.addfriend-sendbutton {
    border-radius: 8px;
    margin-right: 10px;
    text-align: center;
    background-color:#fefefe;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    padding: 3px;
    border-color: #0d6efd;
}

.addfriend-content button{
    background-color: #6495ed;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 10px;
    border-color: #6495ed;
}


.close {
    color: #6495ed;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -18px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* REMOVE FRIEND MODAL */
.removefriend {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.removefriend-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    height: 20%;
    width: 50%;
    text-align: center;
}

/* Search bar */
.removefriend input[type=text] {
    position: inherit;
    margin-top: 30px;
    width: 50%;
    height: 30%;
    font-size: 17px;
    border-radius: 10px;
    border-color: #0d6efd;
}

.close1 {
    color: #6495ed;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -18px;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Loading icon */
.loader {
    display: none;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #6495ed;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    background: transparent;
    position: absolute;
    z-index: 100px;
    right: 50%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* "Please wait" text */
.pleasewait {
    padding-top: 10px;
    color: #6495ed;
}

.confirmText {
    padding-top: 10px;
    color: #35bd47;
}

.failText {
    padding-top: 10px;
    color: #bd3535;
}

/* @media screen and (min-height:600px) and (max-width:200px){
    .friends {
        height: 100%;
    }
} */

/* @media screen and (min-height:600px) and (min-width:1000px){
    .friends {
        height: 100vh;
        overflow: visible;
    }
} */

/* @media screen and (min-height:600px) and (min-width:200px){
    .friends {
        overflow: visible;
        height: 100%;
    }
} */