@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,900;1,700;1,900&display=swap');

.title{
    margin-top: 9vh;
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
    color: black;
    font-weight: 900;
    font-family: 'Nunito Sans';
}

.text {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    color: black;
    font-family: 'Nunito Sans';
    font-weight: 400;
}

.text p{
    font-size: 15px;
    padding: 3px;
    background-color: none;
}

.groups {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background color : extend whole page */
    background-color: rgb(214, 186, 242);
  }

.groups p{
    padding: 2em;
}

.card {
    background-color: none;
}