@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,900;1,700;1,900&display=swap');

.groupTitle{
    padding-top: 9vh;
    /* margin-top: 10px; */
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
    color: black;
    font-weight: 900;
    font-family: 'Nunito Sans';
}

.groupText {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    color: black;
    font-family: 'Nunito Sans';
    font-weight: 400;
}

.groupText p{
    font-size: 15px;
}

.groups {
    height: 100vh;
    width: 100vw;
    display: flex;
    padding-top: 9vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 214, 240);
}

.groupContainer {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    background-color: rgb(232, 214, 240);
}

@media screen and (min-height:600px){
    .groups {
        height: 100vh;
    }
}