@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://i.pinimg.com/originals/6c/7d/4e/6c7d4e66489a58251253a741adf9c8b9.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
    outline: 5px solid #6495ed;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px #6495ed;
}

.titleCard {
  height: 40vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 1300px) {
  .titleCard {
    width: 290px;
  }
}

.headerCard {
  height: 20vh;
  width: 100%;
  margin-bottom: 10vh;
}

@media only screen and (max-height: 700px) {
  .titleCard {
    height: 300px;
  }
  .headerCard {
    height: 180px
  }
}

.bodyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleText {
  font-size: 4vmax;
  margin-bottom: 10px;
  font-family: 'Quicksand';
  font-weight: bold;
  color: #6495ed;
}

.subtitle {
  font-size: 20px;
  margin-bottom: 30px;
  font-family: 'Quicksand';
  font-style: italic;
}

.supportText {
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 25px;
  font-family: 'Quicksand';
  font-style: italic;
}
