@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,900;1,700;1,900&display=swap');

.title{
    padding-top: 9vh;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
    color: black;
    font-weight: 900;
    font-family: 'Nunito Sans';
}

.profileTitle{
    padding-top: 2em;
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
    color: black;
    font-weight: 900;
    font-family: 'Nunito Sans';
}

.profileText {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    color: black;
    font-family: 'Nunito Sans';
    font-weight: 400;
}

.profileText p{
    font-size: 15px;
}

.myProfile {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 240, 215);
    overflow: visible;
}

.profileContainer {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
  }

  .user-info-subtitle {
      /* background: #6494ed46;; */
      font-weight: bolder;
      font-family: 'Nunito Sans';
  }

h6 { 
    font-size: 18px;
    font-family: 'Nunito Sans';
}

.button-container {
    text-align: center;
    margin: 5% 5% 8% 5%;
    font-family: 'Nunito Sans';
}

@media screen and (min-height:600px) and (min-width:1000px){
    .myProfile {
        height: 100vh;
    }
}

.burger {
    display: none;
}

@media screen and (max-width:768px){
     .burger {
        display: block;
    }
 }

