@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,900;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

.title{
    padding-top: 9vh;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
    color: black;
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
}

.profileTitle{
    padding-top: 2em;
    margin-bottom: 10px;
    text-align: center;
    font-size: 28px;
    color: black;
    font-weight: 900;
    font-family: 'Nunito Sans', sans-serif;
}

.profCard{
    background-color: white;
    align-items: center;
    height: 225px;
    width: 250px;
    margin: auto;
}

.profileText {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    color: black;
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-style: italic;
}

.profileText h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 22px;
    color: black;
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-style: italic;
}

.profileText p{
    font-size: 15px;
    padding: 15px;
}

.myProfile {
    padding-top: 10vh;
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(237, 240, 215);
    overflow:auto;
}

.profileContainer {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    align-items: center;
  }

  .user-info-subtitle {
      font-weight: 600;
      font-family: 'Nunito Sans', sans-serif;
  }

.myProfile h2 { 
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.button-container {
    text-align: center;
    margin: 5% 5% 8% 5%;
    font-family: 'Nunito Sans', sans-serif;
}

.collapsible {
    background-color: #558aec;
    cursor: pointer;
    padding: 18px;
    width: 525px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    border-radius: 8px;
    color: white;
    letter-spacing: 0.50px;
}

.active, .collapsible:hover {
    background-color: rgb(164, 219, 178);
  }

  /* Style the collapsible content. Note: hidden by default */
.collapseContent {
    padding: 0px;
    background-color: white;
    max-height: 0;
    width: 510px;
    /* overflow: hidden; */
    transition: max-height 0.2s ease-out;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.25px;
    overflow: auto;
    text-align: center;
  }

.collapseContent h5{
    font-weight: 600;
}

@media screen and (min-height:840px) {
    .myProfile {
        height: 100vh;
    }
}

@media screen and (min-height:839px) and (max-width:991px) {
    .myProfile {
        padding-top: 33vh;
    }
}

.burger {
    display: none;
}

@media screen and (max-width:768px){
     .burger {
        display: block;
    }
 }


.button-container Button{
    background-color: #558aec;
    border-color: #558aec;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;
}